* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a {
  text-decoration: none;
}
@font-face{
  font-family: 'SF-D-Bold';
  src: local('SF-D-Bold'), url(../fonts/SF-Pro-Display-Bold.otf) format('opentype');
}
@font-face{
  font-family: 'SF-D-Reg';
  src: local('SF-D-Reg'), url(../fonts/SF-Pro-Display-Regular.otf) format('opentype');
}
#root {
  height: 100%;
}
